
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
  }
  
  h2{
   color: beige;
  }
  .Tops{
    position: relative;
    width: 100%;
   
    }

  nav{
    position: static;
    display:flex;
    width: 80%;
    margin:5px 300px;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
   
  }
  nav ul li{
    position: center;
    display: inline-block;
    list-style: none;
    margin:  10px 10px 10px 50px;
  }
  nav ul li a{
    text-decoration: none;
    color: beige;
    font-weight: bold;
    display: block;
    
  }
  nav ul li a:hover{
    color: rgb(233, 140, 104);
  }

  .block {
    position: relative;
    margin: 25px 500px;
    width: 400px;
    height: 200px;
    background: linear-gradient(0deg, #000, #272727);
    
  }
  .block li{
    display: inline-block;
    margin: 62px 90px;
    color: beige;
    font-weight: bold;
  }
  .block li:hover{
    color: rgb(233, 140, 104);
  }
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg, #4ee0e6, #4ee0e6, #4ee0e6,#4ee0e6, #4ee0e6, #ec8422, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    animation: steam 60s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(50px);
  }
  span{
    color: rgb(132, 222, 238);
    font-weight:bold;
  }
  p{
    color: beige;
    font-weight:bold;
  }
  

 
.content h1{
    color: #8b8b99;
    font-size: 75px;
    font-weight: 800;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #47fd93;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}